.App {
  text-align: center;
}

.App h1{
  margin-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.App-header .navbar a.active {
  color: #00d0ff;
}
